{% extends "base.html" %} {% load static %} {% load widget_tweaks %} {% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 100px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Import Members</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 ">
            <h1>
                Import Members
                <span class="label step-1">Step 1</span>
            </h1>

            <div class="alert alert-info">
                <strong>Instructions</strong>
                <p>
                    Dowload the <a href="{% static 'pushpress_migration_import.csv' %}" target="_blank">CSV Template</a> provided and add basic member information.
                    <br> Usually your existing membership management software will have an export function where you can download basic member name and email. Expect it to be not so nicely formatted as our template; you will need to reformat it into our
                    template.
                    <br> When ready, upload our template back here with your member data, then move onto Step 2.
                </p>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="col-xs-4 col-xs-offset-1" style="text-align:center;">
                    <i class="pp-icons-download-cloud" style="display:block; font-size:44px; "></i>
                    <a href="{% static 'migration_import.csv' %}" target="_blank" style="margin:10px;" class="btn btn-sm btn-primary">Download Template</a>
                </div>

                <div class="col-xs-4 col-xs-offset-1" style="text-align:center;">
                    <i class="pp-icons-upload-cloud" style="display:block; font-size:44px; "></i>
                    <a href="#" id="send-to-staff-btn" style="margin:10px;" class="btn btn-sm btn-primary">Send To Our Staff</a>

                    <script>
                        $('#send-to-staff-btn').click(function() {
                            Intercom('showNewMessage', "Hi, I would like to submit this file to get migrated into my system.");
                        });
                    </script>
                </div>

                <div class="col-xs-4 col-xs-offset-1">
                    <!-- Additional content here -->
                </div>
            </div>

            <table class="table" id="member-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="member-table-body">
                    <!-- Table body content here -->
                </tbody>
            </table>
        </div>
        <div class="col-sm-4" id="right-rail">
            <section id="right-rail-header" style="background-color: #f2f2f2; padding: 20px;">
                <div class="data-group right-rail-title">Step 1</div>
                <div class="data-group right-rail-description">Use our template to quickly import your members into PushPress.</div>
                <div class="collapse" id="right-rail-additional-data">
                    <!-- Additional data here if needed -->
                </div>
                <br style="height: 10px; color: #000;">
                <div class="right-rail-actions mt-3">
                    <a href="/migrate/import_members"><i class="pp-icon pp-icons-arrow-right-2"></i> Step 1 - Import Members</a>
                </div>
                <hr style="height: 10px; color: #000;">
                <div class="right-rail-actions">
                    <a href="/migration/billing"><i class="pp-icon pp-icons-arrow-right-2"></i> Step 2 - Assign/Request Billing</a>
                </div>
                <hr style="height: 10px; color: #000;">
                <div class="right-rail-actions">
                    <a href="/migration/plans"><i class="pp-icon pp-icons-arrow-right-2"></i> Step 3 - Assign Plans</a>
                </div>
                <br style="height: 10px; color: #000;">
            </section>
        </div>
    </div>
</div>
{% endblock %}
