{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 100px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Profile</h4>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="d-flex justify-content-between p-2 bd-highlight">
        <h2>Profile</h2>
        <a href="{% url 'editprofile' %}"><button class="btn btn-primary">Edit Profile</button></a>
    </div>
    
    <form method="post" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <td>Username</td>
                <td>{{profile.user.username}}</td>
            </tr>
            <tr>
                <td>Phone No.</td>
                <td>{{profile.phone_no}}</td>
            </tr>
            <tr>
                <td>Profile pic</td>
                <h1>{{profile.user.profile_pic}}</h1>
                <td>
                    {% if profile.profile_pic %}
                    <img src="{{profile.profile_pic.url}}"  style="height: 60px; width: 60px; border-radius: 50px;">
                    {% else %}
                        No profile picture available.
                    {% endif %}
                </td>
            </tr>
            <tr>

                <td>Stuio/Gym Type</td>
                <td>{{profile.studio_type}}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{profile.country}}</td>
            </tr>

            <tr>
                <td>Subscription type</td>
                <td>{{profile.get_subscribed_type_display}}</td>
            </tr>
            <tr>

                <td>Is Your Business Already Open?</td>
                <td>{{profile.business}}</td>
            </tr>
            <tr>

                <td>Your Average Monthly Revenue
                </td>
                <td>{{profile.revenue}}</td>
            </tr>
            <tr>

                <td>Primary Revenue Source
                </td>
                <td>{{profile.primary_revenue}}</td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}